<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCa6qYZldlu3Lpp6Tc1NCtTUpi4WXKESuw</string>
	<key>GCM_SENDER_ID</key>
	<string>450172912917</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.hsenid.countryapp</string>
	<key>PROJECT_ID</key>
	<string>countriesapp-32dfb</string>
	<key>STORAGE_BUCKET</key>
	<string>countriesapp-32dfb.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:450172912917:ios:ce9494eec8fa0cdcb5151c</string>
</dict>
</plist>